.infoCoffee {
    width: 700px;
    padding: 12px;
    background-color: rgba(75, 63, 105, 0.144); 
    border-radius: 6px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 21px;
    justify-content: center;

    .ul_style {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-flow: column nowrap;
    }

      .li_coffee {
        font-size: 1.2rem;
        list-style: none;
      }

      #title_coffee {
        font-size: 1.6rem;
      }

      .description_coffee {
        padding:  20px;
        width: 70%;
        border: 1px solid rgba(169, 178, 230, 0.158);
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.322);
        margin-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-flow: row wrap;
        font-size: 1.3rem;
      }
}

@media screen and (max-width:768px) {
  .infoCoffee {
    width: 100%;

    .description_coffee {
      width: 100%;
    }

    
  }
}